.topWrapper {
    width: 150px;
    margin: 100px auto;
}

.thumbnail {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.editThumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.buttonSet {
    margin: 30px 0 0 0;
    text-align: center;
}

.labelTitle {
    color: #006DD9;
    margin: 20px 0 5px 0;
}

input[class="userForm"] {
    width: 100%;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    border: solid 2px #e1e3e8;
    transition: 1s;
}
input[class="userForm"]:focus {
    background: #87ceeb;
}

.btn-done {
    background: #dc143c;
    border: 1px solid #dc143c;
}
.btn-done:hover {
    background: #cc1237;
    border: 1px solid #cc1237;
}

.error {
    font-size: 15px;
    font-weight: 100;
    color: #cc1237;
}

.user-edit-form textarea {
    width: 100%;
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1em;
    border: solid 2px #e1e3e8;
    border-radius: 4px;
    resize: none;
}

/* フォーカス時のスタイル */
.user-edit-form textarea:focus {
    border-color: #56a9ff;
    outline: 0;
}